{% extends 'base.html' %}

{% block title %}<title>Register</title>{% endblock %}

{% block content %}
<div class="d-flex align-items-center justify-content-center bg-light" style="height: 100vh;">
    <div class="col-md-6">
        <h2 class="mb-4">Register</h2>
        <form method="POST">
            {{ form.hidden_tag() }}
            <div class="mb-3">
                {{ form.username.label }} {{ form.username(class="form-control") }}
            </div>
            <div class="mb-3">
                {{ form.email.label }} {{ form.email(class="form-control") }}
            </div>
            <div class="mb-3">
                {{ form.password.label }} {{ form.password(class="form-control") }}
            </div>
            <div class="mb-3">
                {{ form.confirm_password.label }} {{ form.confirm_password(class="form-control") }}
            </div>
            <div class="mb-3">
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </form>
    </div>
</div>
{% endblock %}
