{% extends 'base.html' %}
{% block title %}New Post{% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6">
    <h2 class="mb-4">Create New Post</h2>
    <form method="POST" enctype="multipart/form-data">
      {{ form.hidden_tag() }}
      <div class="mb-3">
        {{ form.image.label }}<br>
        {{ form.image(class="form-control") }}
      </div>
      <div class="mb-3">
        {{ form.caption.label }}
        {{ form.caption(class="form-control", placeholder="Write a caption…") }}
      </div>
      <div class="mb-3">
        {{ form.submit(class="btn btn-primary") }}
      </div>
    </form>
  </div>
</div>
{% endblock %}
